doctype html
//
  Radius by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title 디테일1 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    // Header
    header#header.preview
      .inner
        .content
          h1 개발자
          h2 감사합니다
        a.button.hidden(href='/')
          span 메인으로
    // Main
    #preview
      .inner
        .image.fit
          img(src='http://www.thewhiteveil.co.kr/layouts/user_layout/images/main/main_slide2_01.jpg', alt='')
        .content
          header
            h2 화이트베일
          p
            | 화이트~
          p
            | 베일~
      a.nav.previous(href='detail1')
        span.fa.fa-chevron-left
      a.nav.next(href='detail2')
        span.fa.fa-chevron-right
    // Footer
    footer#footer
      a.info.fa.fa-info-circle(href='#')
        span About
      .inner
        .content
          h3 여긴 푸터
          p
            | 자세한 내용
        .copyright
          h3 Follow me
          ul.icons
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.fa-instagram(href='#')
                span.label Instagram
            li
              a.icon.fa-dribbble(href='#')
                span.label Dribbble
          | 						© Untitled. Design: 
          a(href='https://templated.co') TEMPLATED
          | . Images: 
          a(href='https://unsplash.com/') Unsplash
          | .
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
